<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.svg">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="logobarra">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
            </div>
    <form method="get" action="" class="barra-busqueda">
        <input class="input" type="text" name="nombre" placeholder="Buscar productos, marcas">
        <div class="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            <div class="botonmenu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="site">
            <ul class="listapag">
                <li><a>Ofertas</a></li>
                <li><a>Tiendas Oficiales</a></li>
                <li><a>Vender</a></li>
                <li><a>Ayuda</a></li>
            </ul>
            <ul class="listacuenta">
                <li><a href="/registro">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        
    </header>

    <main class="main">
        <img src="/images/img-home-banner.jpg">
        <section>
            <h3> Basado en tu última visita</h3>
            <div class="producto">
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="descripcion">
                    <div class="logoenvio">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="informacionProduc">
                <span class="precio">$6.770</span>
                <span class="descuento">40% OFF</span>
                    </div>
                <span class="descrip">Cafetera Moulinex</span>
                </div>
            </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="descripcion">
                        <div class="logoenvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="informacionProduc">
                    <span class="precio">$230.000</span>
                    <span class="descuento">20% OFF</span>
                        </div>
                    <span class="descrip">MacBook Pro 2019</span>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="descripcion">
                        <div class="logoenvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="informacionProduc">
                    <span class="precio">$70.500</span>
                    <span class="descuento">10% OFF</span>
                        </div>
                    <span class="descrip">Samsung Galaxy S10</span>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="descripcion">
                        <div class="logoenvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="informacionProduc">
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% OFF</span>
                        </div>
                    <span class="descrip">SmartTv Samsung 43</span>
                    </div>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="producto">
                    <article class="articulo">
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <div class="descripcion">
                            <div class="logoenvio">
                                <i class="fa-sharp fa-solid fa-truck"></i>
                            </div>
                            <div class="informacionProduc">
                        <span class="precio">$6.770</span>
                        <span class="descuento">40% OFF</span>
                            </div>
                        <span class="descrip">Cafetera Moulinex</span>
                        </div>
                    </article>
                    <article class="articulo">
                        <img src="/images/img-macbook-pro-2019.jpg">
                        <div class="descripcion">
                            <div class="logoenvio">
                                <i class="fa-sharp fa-solid fa-truck"></i>
                            </div>
                            <div class="informacionProduc">
                        <span class="precio">$230.000</span>
                        <span class="descuento">20% OFF</span>
                            </div>
                        <span class="descrip">MacBook Pro 2019</span>
                        </div>
                    </article>
                    <article class="articulo">
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <div class="descripcion">
                            <div class="logoenvio">
                                <i class="fa-sharp fa-solid fa-truck"></i>
                            </div>
                            <div class="informacionProduc">
                        <span class="precio">$70.500</span>
                        <span class="descuento">10% OFF</span>
                            </div>
                        <span class="descrip">Samsung Galaxy S10</span>
                        </div>
                    </article>
                    <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="descripcion">
                        <div class="logoenvio">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </div>
                        <div class="informacionProduc">
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% OFF</span>
                        </div>
                    <span class="descrip">SmartTv Samsung 43</span>
                    
            </article>          
        </section>
    </main>
    <footer class="footer">
        <section>
            <i class="fa-sharp fa-solid fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            <p>
        </section>
    </footer>
</body>
</html>